// .searchBar--container {
//   position: absolute;
//   top: 25px;
//   left: 35%;
//   height: 44px;
//   transition: 0.5s;

//   .searchBar--input {
//     width: 100%;
//     height: 44px;
//     background: transparent;
//     color: #fff;
//     border: none;
//     outline: none;
//     font-size: 16px;
//     &::placeholder {
//       color: #fff;
//     }
//   }
//   ::before {
//     content: "\f002";
//     position: absolute;
//     top: 12px;
//     left: -26px;
//     font-family: fontAwesome;
//   }
// }

.searchBar--input {
  color: #fff !important;
  border: none;
  outline: none;
  font-size: 28px;
  &::placeholder {
    color: #fff;
  }
}
